:root{
  --base: #9D84B7;
  --spacing: 10px;
  --blur : 10px;
}

body {
  text-align: center;
  background: black;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;

}

input {
  width: 100px;
}

img{
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl{
  color: var(--base);
  text-shadow: 0 0 0.2em var(--base);
}
