@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */
  border-radius: 50%;
}

.hand {
  width: 50%;
  /* height: 6px; */
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 2.5, 0.56, 1);
}

.hour-hand {
  height: 5px;
}

.min-hand {
  height: 4px;
}

.second-hand {
  height: 3px;
}

.button {
  position: absolute;
  bottom: 20%;
  right: 45%;
  width: 150px;
  height: 40px;
  background: none;
}

.invisible {
  display: none;
}

.container {
  justify-content: center;
  align-items: center;
  background: none;
  padding-bottom: 40px;
}

p {
  font-size: 9rem;
  background: none;
  color: white;
  font-family: 'Orbitron';
  letter-spacing: 10px;
  padding-left: 20px;
}
